*.FCBak
# mujoco

# Project Artifacts
checkpoints/
rewards_plot.png
train.log
*.zip
scene.xml

# Python
__pycache__/
*.pyc
wandb
runs

*.pt

# Temp and Envs
.venv/
.agents/
.pytest_cache/
storage_scratch/
testsMUJOCO_LOG.TXT
rewards_plot_ppo.png
MUJOCO_LOG.TXT
